<table cellpadding="0" cellspacing="0" border="0" bgcolor="#f6F5F3" width="100%">
  <tr><td align="left" valign="top" bgcolor="#2F5B8A">
    <table cellpadding="0" cellspacing="2" border="0" width="100%" bgcolor="#2F5B8A" >
      <tr bgcolor="#2F5B8A">
        <td width="60%" align="left" bgcolor="#2F5B8A" style="padding-left:15px;" height="25"><a href="/"><img src="assets/hopper_newlogo.png" border="0" height="22"></a></td>
        <td width="20%" align="center" style="border-right:3px solid #254977;border-left:3px solid #254977;"><a href="place-details.html"><img src="assets/profile.png" border="0" height="22"></a></td>
        <td width="20%" align="center"><a href="place-details.html"><img src="assets/search.png" border="0" height="22" ></a>							</td>
      </tr>
    </table>
  </td>
  </tr>
  <tr><td>
    <table cellpadding="0" cellspacing="0" border="0" bgcolor="#f6F5F3" id="header" width="100%">
      <% if @response['featured_places'].present? %>
          <tr>
            <td width="50%">
              <a href="<%= place_detail_path(:place_id => @response['featured_places'][0]['place_id'],:offer_id => @response['featured_places'][0]['offer_id'])%>">
                <img src="<%= @response['featured_places'][0]['image_url']%>" border="0" width="100%" />
              </a>
            </td>
            <td width="50%">
              <a href="<%= place_detail_path(:place_id => @response['featured_places'][1]['place_id'],:offer_id => @response['featured_places'][1]['offer_id'])%>">
                <img src="<%= @response['featured_places'][1]['image_url']%>" border="0" width="100%" />
              </a>
            </td>
          </tr>
      <% end %>
      <tr bgcolor="#dddddd" >
        <td colspan="2" class="headingfont" bgcolor="#dddddd" style="border-bottom: 4px solid #d9d9d9;border-top: 4px solid #d9d9d9;padding-left:15px;padding-top:5px;padding-bottom:5px;">
          <b>Places Nearby</b>
        </td>
      </tr>
  <% @response["places"].each do |p| %>
      <tr>
        <td colspan="2" style="border-bottom: 2px solid #e7e6e4">
          <a href="<%= place_detail_path(:place_id => p['place_id'],:offer_id => p['offer_id'])%>">
          <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
              <td align="left"  style="padding-left:30px;padding-top:10px;padding-bottom:10px;" width="25%"><%= image_tag choose_category_image(p["category"]) %></td>
              <td align="left" style="padding-bottom:10px;">
                <div class="placed" style="padding-top:10px;"><b><%= p['name'] %></b></div>
                <div align="absmiddel"  class="placed"><%= image_tag "place-icon.png" %>&nbsp;&nbsp;<%= p['city'] %></div>
              </td>
              <td class="placed" align="center" width="15%">
                <b><%= p["distance"].round(1) %> Km</b><br>
                <% if p["offer_id"].present? %><img src="/assets/tag-icon.png"/><% end %>
              </td>
            </tr>
          </table>
          </a>
        </td>
      </tr>
  <% end %>
</table>
    </td>
    </tr>
    </table>