<table cellpadding="0" cellspacing="0" border="0" bgcolor="#f6F5F3" id="header">
  <tr  >
    <td colspan="2" align="center" class="bgplacename headingfont" >
      <b>Pizza Corner</b>
    </td>
  </tr>
  <tr>
    <td align="center"><%= image_tag "placeimage.jpg" %></td>
  </tr>

  <tr>
    <td colspan="2"   align="center" style="padding:15px;">
      <table cellpadding="0" cellspacing="0" border="0" width="90%" style="border: 2px dotted #c1c1c1;">
        <tr>
          <td   align="left"  width="10%" style="padding:12px;"><%= image_tag "tag-icon.png" %></td>
          <td   align="left"  class="coupontext" style="padding:12px;">Check in today to win a free coupon Buy medium pizza, get regular free  </td>


        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td colspan="2" align="center" bgcolor="#c22b7c" style="padding:10px;" class="whiteheadingfont">
      <a href="checkin" style="text-decoration: none;color: white;"><div>Check in</div></a>
    </td>
  </tr>

  <tr>
    <td colspan="2" >
      <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr><td colspan="2" >&nbsp;</td></tr>

        <tr>
          <td align="left" style="padding-left:30px;padding-top:18px;padding-bottom:18px;" width="25%"><div><%= image_tag "skippr-icon.png" %>
          </div><div class="headingfont"><b>Skippr</b></div>
          </td>
          <td align="left" style="padding-bottom:10px;">
            <div align="absmiddel"  ><%= image_tag "user.png" %></div>

          </td>

        </tr>
        <tr><td colspan="2" style="border-bottom:2px solid #cac9c5;">&nbsp;</td></tr>

        <tr>
          <td align="left" style="padding-left:30px;padding-top:18px;padding-bottom:18px;" width="25%"><div><%= image_tag "chasr-icon.png" %>
          </div><div class="headingfont"><b>Chasr</b></div>

          </td>
          <td align="left" style="padding-bottom:10px;">
            <div align="absmiddel"  ><%= image_tag "user.png" %></div>

          </td>

        </tr>
        <tr><td colspan="2" style="border-bottom:2px solid #cac9c5;">&nbsp;</td></tr>
        <tr >
          <td align="left" style="padding-left:30px;padding-top:18px;padding-bottom:18px;" width="25%"><div><%= image_tag "hope-icon.png" %>							</div><div class="headingfont"><b>hopprs</b></div>
          </td>
          <td align="left" style="padding-bottom:10px;">
            <div align="absmiddel"  ><%= image_tag "user.png" %></div>

          </td>

        </tr>
      </table>
    </td>
  </tr>

</table>
