<table cellpadding="0" cellspacing="0" border="0" bgcolor="#f6F5F3" id="header" width="100%">
  <tr><td align="left" valign="top" bgcolor="#2F5B8A">
    <table cellpadding="0" cellspacing="2" border="0" width="100%" bgcolor="#2F5B8A" >
      <tr bgcolor="#2F5B8A">
        <td width="60%" align="left" bgcolor="#2F5B8A" style="padding-left:15px;" height="25"><a href="/"><img src="/assets/hopper_newlogo.png" border="0" height="22"></a></td>
        <td width="20%" align="center" style="border-right:3px solid #254977;border-left:3px solid #254977;"><a href="place-details.html"><img src="/assets/profile.png" border="0" height="22"></a></td>
        <td width="20%" align="center"><a href="place-details.html"><img src="/assets/search.png" border="0" height="22" ></a>							</td>
      </tr>
    </table>
  </td>
  </tr>
  </tr>
  <tr  >
    <td colspan="2" align="left" style="padding-left:15px;" class="bgplacename headingfont" >
      <b><%= @response["name"] %></b>
    </td>
  </tr>
  <tr>
    <td align="center"><img src="http://images.hoppr.com/image-service/?id=<%= params[:place_id] %>&size=carousel" width="100%"></td>
  </tr>
  <tr>
    <td colspan="2" align="center" style="padding:15px;" bgcolor="#ffffff">
      <table cellpadding="0" cellspacing="0" border="0" width="100%" >
        <tr>
          <td   align="left"  class="coupontext" style="padding:12px;"><%= @response["address"] %> </td>
          <td   align="left" style="padding:12px;"><a href="<%= rate_place_path({:place_id => params[:place_id],:love => (@response['user_love'] == 1 ? '0' : '1')})%>" ><img src="<%= @response['user_love'] == 1 ? '/assets/liked-btn.png' :'/assets/like-_btn.png' %>"><div class="place_like_count"><%= @response['total_love'] %></div></a></td>         </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr><td colspan="2" style="border-bottom:2px solid #cac9c5;"></td></tr>
  <tr>
    <td colspan="2"   align="center" style="padding:15px;" bgcolor="#ffffff">
      <% if @response2.present? %>
      <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
          <td   align="left"  width="10%" style="padding:12px;"><img src="/assets/tag-icon.png"></td>
          <td   align="left"  class="coupontext" style="padding:12px;"><b>
            <%= @response2['description'] %>
          </b> </td>
        </tr>
      </table>
      <% end %>
    </td>
  </tr>

  <tr>
    <td colspan="2" align="center" bgcolor="#c22b7c" style="padding:10px;" class="whiteheadingfont">
      <a href="<%= checkin_path(params[:place_id]) %>" class="whiteheadingfont">Check in</a>
    </td>
  </tr>

  <tr>
    <td colspan="2" >
      <% if @response1.present? %>
      <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
          <td align="left" style="padding-left:15px;padding-top:12px;padding-bottom:12px;" width="25%"><div><img src="/assets/skippr-icon.png">
          </div><div class="headingfont"><b>Skippr</b></div>
          </td>
          <td align="left" style="padding-bottom:10px;">
            <div align="absmiddel"  >
              <img src= "<%= @response1['skippr']['image_url'] %>" />
            </div>
          </td>
        </tr>
        <tr><td colspan="2" style="border-bottom:2px solid #cac9c5;">&nbsp;</td></tr>
        <tr>
          <td align="left" style="padding-left:15px;padding-top:18px;padding-bottom:12px;" width="25%"><div><img src="/assets/chasr-icon.png">
            </div><div class="headingfont"><b>Chasr</b></div>
          </td>
          <td align="left" style="padding-bottom:10px;">
            <div align="absmiddel"  >
              <% @response1['chasers'].each do |chaser| %>
                <img src= "/assets/user.png">
              <% end %>
            </div>
          </td>
        </tr>
        <tr><td colspan="2" style="border-bottom:2px solid #cac9c5;">&nbsp;</td></tr>
        <tr >
          <td align="left" style="padding-left:15px;padding-top:18px;padding-bottom:18px;" width="25%"><div><img src="/assets/hope-icon.png">							</div><div class="headingfont"><b>hopprs</b></div>
          </td>
          <td align="left" style="padding-bottom:10px;">
            <div align="absmiddel"  >
              <img src= "/assets/hoppr_img-1.png">&nbsp;<img src= "/assets/hoppr_img-2.png">
            </div>
          </td>
        </tr>
      </table>
      <% end %>
    </td>
  </tr>

</table>
</td></tr></table>